{% extends 'user_base.html' %}
{% block header %}

<section class="w3l-recent-work-hobbies" id="services">
    <div class="recent-work editContent">
        <div class="container">
            <div class="main-titles-head ">
                <h3 class="header-name editContent">
                    Our Main Banking Services
                </h3>
                <p class="tiltle-para editContent ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic fuga
                    sit illo modi aut aspernatur tempore laboriosam saepe dolores eveniet.</p>
            </div>
            <!-- <div class="row about-about">
                <div class="col-lg-4 col-md-6 propClone">
                    <div class="about-grids editContent one-image">
                        <div class="color-white">
                        <h5><a href="#page" class="editContent">Online Deposit</a></h5>
                        <p class="para editContent">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est</p>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="about-grids editContent two-image">
                        <div class="color-white">
                        <h5><a href="#page" class="editContent">Business Plan</a></h5>
                        <p class="para editContent">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est</p>
                    </div>
                </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="about-grids editContent three-image">
                        <div class="color-white">
                        <h5><a href="#page" class="editContent">Mobile Bank</a></h5>
                        <p class="para editContent">Sit amet consect etur adipi sicing elit. Rem quib usdam corporis, dolores
                            quos, nobis culpa est </p>
                    </div>
                </div>
                </div>
            </div> -->
            <div class="row service-service mt-lg-5 mt-md-4 mt-4 pt-2">
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <span class="fa fa-address-card"></span>
                        <h5><a href="/userprofile_update?id={{data.login_id_id}}" class="editContent">
                                Update user profile</a></h5>
                        <p class="para editContent">Update user profile service facilitates the modification of customer
                            information within the bank's database, ensuring accurate and up-to-date records.</p>
                        <!-- <a href="about.html" class="action-button btn mt-3">Click Here</a> -->

                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <span class="fa fa-money"></span>
                        <h5><a href="/user_deposit" class="editContent">Deposits</a></h5>
                        <p class="para editContent">The deposit service allows customers to securely add funds to their
                            accounts, facilitating seamless transactions.</p>
                        <!-- <a href="about.html" class="action-button btn mt-3">Click Here</a> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <span class="fa fa-handshake-o"></span>
                        <h5><a href="/loan_application" class="editContent">
                                Apply for a loan</a></h5>
                        <p class="para editContent">The apply for loan service streamlines the process for customers
                            seeking financial assistance, ensuring efficient evaluation and approval.</p>
                        <!-- <a href="about.html" class="action-button btn mt-3">Click Here</a> -->

                    </div>
                </div>
            </div>
            <div class="row service-service mt-lg-5 mt-md-4 mt-4 pt-2">
                <div class="col-lg-4 col-md-6 propClone about-line-top ">
                    <div class="color-white editContent">
                        <span class="fa fa-exclamation-circle"></span>
                        <h5><a href="/user_complaints" class="editContent">Complaints</a></h5>
                        <p class="para editContent">The complaint service provides a platform for customers to voice
                            concerns or issues, ensuring prompt resolution and maintaining satisfaction. </p>
                        <!-- <a href="about.html" class="action-button btn mt-3">Click Here</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}